{{- define "header-body" -}}
{{- $avatar := .Resources.GetMatch "avatar" -}}
{{- $cover := .Resources.GetMatch "cover" -}}
<div class="header-body {{- if and $avatar $cover }} mt-n5 mt-md-n6{{- end -}}">
  <div class="row align-items-end">
    {{- if $avatar -}}
      <div class="col-auto">
        <div class="avatar avatar-xxl header-avatar-top">
          <img src="{{- partial "image-avatar-lazy.html" $avatar -}}" data-src="{{- partial "image-avatar-full.html" $avatar }}" alt="Image of {{- .Title -}}" class="avatar-img rounded-circle border border-4 border-card lazy">
        </div>
      </div>
    {{- end -}}
    <div class="col mb-3 {{- if $avatar }} ml-n3 ml-md-n2{{- end -}}">
      <h6 class="header-pretitle">
        {{ .Parent.Title }}
      </h6>
      <h1 class="header-title">
        {{- .Title -}}
      </h1>
    </div>
  </div>

  {{- if .Params.superseded -}}
    {{- with $robot := $.Site.GetPage (printf "robot/%s" ( .Params.superseded | urlize ) ) -}}
    <div class="row pt-3">
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">This Robot is Outdated</h4>
          <p>Sometimes, technology advances and that causes us to abandon old systems in favor of newer ones. It seems, this robot has evolved into a newer version and so this information you find here may be outdated.</p>
          <hr />
          <p class="mb-0">This robot has been superseded by <a href="{{- $robot.RelPermalink -}}" class="alert-link">{{- $robot.Title -}}</a>.</p>
        </div>
      </div>
    </div>
    {{- end -}}
  {{- end -}}

  <div class="row align-items-center">
    <div class="col">
      <ul class="nav nav-tabs nav-overflow header-tabs" id="researcherTabs">
        <li class="nav-item">
          <a href="#overview" class="nav-link active" data-toggle="tab" role="tab" aria-controls="overview"
             aria-selected="true">
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a href="#files" class="nav-link" data-toggle="tab" role="tab" aria-controls="gallery" aria-selected="false">
            Files
          </a>
        </li>
        <li class="nav-item">
          <a href="#gallery" class="nav-link" data-toggle="tab" role="tab" aria-controls="gallery"
             aria-selected="false">
            Gallery
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="tab-content" id="robotTabsContent">
  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <div class="row">
      <div class="col-lg-4 order-lg-8">
        <div class="sticky-top">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">
                Motion Pattern
              </h4>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush my-n3">
                {{- range $motionpattern := partial "motionpattern/query.html" . -}}
                {{- partial "motionpattern/list-group-item.html" $motionpattern -}}
                {{- else -}}
                <div class="list-group-item">This robot does not belong to any motion pattern</div>
                {{- end -}}
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">
                Organization
              </h4>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush my-n3">
                {{- range $organization := partial "organization/query.html" . -}}
                {{- partial "organization/list-group-item.html" $organization -}}
                {{- else -}}
                <div class="list-group-item">This robot does not belong to any organization</div>
                {{- end -}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 order-lg-0">
        {{- .Content -}}
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
    {{- with $files := $.Resources.Match "files/*" -}}
    <div class="row">
      <div class="col-12">
        <div class="card" data-toggle="lists" data-options="{&quot;valueNames&quot;: [&quot;name&quot;]}">
          <div class="card-header">
            <div class="dropdown mr-3">
              <a href="#" class="small text-muted dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Sort order
              </a>
              <div class="dropdown-menu" style="">
                <a class="dropdown-item sort desc" data-sort="name" href="#!">
                  Asc
                </a>
                <a class="dropdown-item sort desc" data-sort="name" href="#!">
                  Desc
                </a>
              </div>
            </div>
          </div>
          <div class="card-header">
            <form>
              <div class="input-group input-group-flush input-group-merge">
                <input type="search" class="form-control form-control-prepended search" placeholder="Search" />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fe fe-search"></span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body">
            {{- partial "files/list-group.html" ( $.Resources.Match "files/*" ) -}}
          </div>
        </div>
      </div>
    </div>
    {{- else -}}
      {{- partial "bootstrap/not-found-card.html" "files" -}}
    {{- end -}}
  </div>
  <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
    {{- $gallery := .Resources.Match "gallery/**" -}}
    {{- if $gallery -}}
      {{- partial "gallery/cards.html" $gallery -}}
    {{- else -}}
      {{- partial "bootstrap/not-found-card.html" "gallery" -}}
    {{- end -}}
  </div>
</div>

{{- end -}}