{{- $text := cond .IsNamedParams (.Get "text") (.Get 0) | default "" -}}
{{- $class := cond .IsNamedParams (.Get "class") (.Get 1) | default "" -}}
{{- $checked := cond .IsNamedParams (.Get "checked") (.Get 2) | default "" -}}

<div class="custom-control custom-checkbox checklist-control {{- with $class }} {{ . -}}{{- end -}}">
  <input class="custom-control-input" id="checklist{{- md5 $text -}}" type="checkbox" disabled="disabled "{{- with $checked }} checked="checked"{{- end -}}/>
  <label class="custom-control-label" for="checklist{{- md5 $text}}"></label>
  <span class="custom-control-caption">
    {{- $text | markdownify -}}
  </span>
</div>
