{{- define "header-body" -}}
<div class="header-body">
  <div class="row align-items-end">
    <div class="col mb-3">
      <h6 class="header-pretitle">
        {{ .Parent.Title }}
      </h6>
      <h1 class="header-title">
        {{- .Title -}}
      </h1>
      <h4 class="header-title text-muted mt-3 mb-0">
        {{ .Params.subtitle }}
      </h4>
    </div>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="row">
  <div class="col-lg-4 order-lg-8">
    <div class="sticky-top">
      {{ $pub := . }}
      <div class="card">
        <div class="card-body pb-3">
          <div class="list-group list-group-flush my-n3">
            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0 text-muted">
                    Authors
                  </h5>
                </div>
                <div class="col-auto">
                  <small class="">
                    {{ $pub.Params.bib.author }}
                  </small>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0 text-muted">
                    Type
                  </h5>
                </div>
                <div class="col-auto">
                  <small class="">
                    {{ with $pub.Params.bib.entry }}
                      {{ with $bibdata := index ( index $.Site.Data.biblatex . ) "title" }}
                        {{ if reflect.IsMap $bibdata }}
                          {{ with index $bibdata $pub.Params.bib.subentry }}
                            {{ . }}
                          {{ else }}
                            {{ $pub.Params.bib.subentry }}
                          {{ end }}
                        {{ else }}
                          {{ $bibdata }}
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  </small>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0 text-muted">
                    Date
                  </h5>
                </div>
                <div class="col-auto">
                  <small class="">
                    {{- with $pub.Date -}}
                      {{- .Format "2006" -}}
                    {{- end -}}
                  </small>
                </div>
              </div>
            </div>
            {{- with $bib := .Params.bib -}}
              {{- partial ( printf "publication/meta/%s.html" $bib.entry ) $pub -}}
            {{- end -}}
            {{- partial "publication/meta/_identifiers.html" $pub -}}
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="btn-group">
            {{- with $doi := $pub.Params.bib.doi -}}
              <a href="https://dx.doi.org/{{ $doi }}" class="btn btn-light btn-sm"><span class="fe fe-external-link"></span>&nbsp;DOI</a>
            {{- end -}}
            {{- with $url := $pub.Params.bib.url -}}
              <a href="{{ $url }}" class="btn btn-light btn-sm"><span class="fe fe-external-link"></span>&nbsp;URL</a>
            {{- end -}}
            {{- with $file := $pub.Resources.GetMatch "document" -}}
              <a href="{{ $file.RelPermalink }}" class="btn btn-light btn-sm"><span class="fe fe-download"></span>&nbsp;PDF</a>
            {{- end -}}
            {{- with $file := $pub.Resources.GetMatch "BibTeX" -}}
              <a href="{{ $file.RelPermalink }}" class="btn btn-light btn-sm"><span class="fe fe-download"></span>&nbsp;Bib</a>
            {{- end -}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 order-lg-0">
    {{ .Content }}
  </div>
</div>

{{- end -}}
